.dual-select { 
  margin: 0 6px; 
  min-width: 15em;
}

.dual-select .lc,
.dual-select .rc {
  float: left;
  width: 40%;
  /* min-width: 160px; */
  position: relative;
}
.dual-select .cc {
  float: left;
  width: 30px;
  margin: 3px;
  border: none;
  position: relative;
  text-align: center;
}
.dual-select .cc #icons {
  margin: 7px 0 0;
  padding: 0 5px;
}

.dual-select .toolbar #rt-search-table,
.dual-select .toolbar #lt-search-table {
  border: 0;
  margin: 0;
  background-color: #DDD;
}
.dual-select .toolbar table { background-color: #DDD; }

.dual-select .toolbar { background-color: #DDD; border: 1px solid #CCC; border-top: 0; }
.dual-select .toolbar .toggle-handle { cursor:pointer; height: 2px; position: relative; border: 0;}
.dual-select .toolbar .toggle-handle:hover { background-color: #fff; }
.dual-select .toolbar .toggle-handle div { position: absolute; top: -13px; right: 18px; height: 14px; width: 28px; background: transparent url('dualselect-search.png') 0 0 no-repeat; }
.dual-select .toolbar .toggle-handle:hover div { background-position: 0 -32px; }
.dual-select .toolbar .toggle-handle div.expanded { background-position: 0 -16px; }
.dual-select .toolbar .toggle-handle:hover div.expanded { background-position: 0 -48px; }

.dual-select .toolbar table { width: 100%; border: 0; position: relative; }
.dual-select .toolbar table tbody { border: 0;}
.dual-select .toolbar table td { vertical-align: middle; border: 0; padding: 0 2px 1px; }
.dual-select .toolbar .clear-cell { width: 23px; padding: 0 0 1px 2px; }
.dual-select .toolbar input.dualselect-search { background-color: #FFF; border: 1px solid #CCCCCC; margin: 5px; min-width: 0 !important; width: 100%; height: 21px; 
margin: 0; padding: 0; }

.dual-select ul.ll,
.dual-select ul.rl
 {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  position: relative;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.dual-select ul li {
  font-size: 80%;
  list-style-type: none;
  list-style-image: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding-left: 2px;
  border-bottom: 1px solid #eee;
}
.dual-select ul li:hover { background-color: #ccc; }
.dual-select ul li.selected { background-color: #ccc; }

.clearfix { clear: both; }



/**
 * Buttons and Icons
 */

.dual-select a {
  display: inline-block;
  padding: 2px 1px 3px 3px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  color: #3C3C3D;
  text-shadow: 1px 1px 0 #FFFFFF;
  background: #ECECEC url('dualselect-backgrounds.png') 0 0 no-repeat;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #CACACA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  position: relative;
  zoom: 1;
  line-height: 1.4;
  *display: inline;
  *vertical-align: middle;
}
.dual-select a { margin-left: 0; margin-right: 0; *padding: 5px 5px 3px 5px; }
.dual-select a::-moz-focus-inner { border: 0; padding: 0; }

.dual-select div#icons a { display: block; margin-bottom: 6px; }

.dual-select a:focus,
.dual-select a:hover { color: #fff; border-color: #388ad4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2d7dc5; }
.dual-select a:active,
.dual-select a.active { background-position: 0 -81px; border-color: #347bba; background-color: #0f5ea2; color: #fff; text-shadow: none; }
.dual-select a:active { top: 1px; }

.dual-select a span.icon { display: inline-block; width: 14px; height: 12px; margin: auto; position: relative; top: 1px; *top: 0px; background-image: url('dualselect-icons.png'); background-repeat: no-repeat; }
.dual-select a span.icon.circle-close { background-position: 0 0; }
.dual-select a:hover span.icon.circle-close { background-position: 0 -14px; }
.dual-select a span.icon.arrowthick-1-w { background-position: 0 -28px; }
.dual-select a:hover span.arrowthick-1-w { background-position: 0 -42px; }
.dual-select a span.icon.arrowthick-1-e{ background-position: 0 -56px; }
.dual-select a:hover span.icon.arrowthick-1-e { background-position: 0 -70px; }
.dual-select a span.icon.seek-prev { background-position: 0 -84px; }
.dual-select a:hover span.icon.seek-prev { background-position: 0 -98px; }
.dual-select a span.icon.seek-next { background-position: 0 -112px; }
.dual-select a:hover span.icon.seek-next { background-position: 0 -126px; }

/**
 * Fixes for default select-multiple forms
 */
/* recent log messages > filter log messages form */
.form-item-type, .form-item-severity{ width: auto !important; }
